* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.grid-container {
  height: 800px;
  display: grid; 
  grid-template-columns: 300px 300px 300px;
  grid-auto-rows: 300px;
  gap: 1em;


  justify-items: center;
  align-items: center;
  justify-content: center;
  align-content: center;

}

.item {
  height: 100px;
  width: 100px;
  padding: 10px;
  background-color: blue;
  color: white;
  text-align: center;
  border-radius: 8px;
  font-size: 2em;
}
